[submodule "AegisLab"]
	path = AegisLab
	url = https://github.com/OperationsPAI/AegisLab.git
[submodule "AegisLab-frontend"]
	path = AegisLab-frontend
	url = https://github.com/OperationsPAI/AegisLab-frontend.git
[submodule "chaos-experiment"]
	path = chaos-experiment
	url = https://github.com/OperationsPAI/chaos-experiment.git
[submodule "rcabench-platform"]
	path = rcabench-platform
	url = https://github.com/OperationsPAI/rcabench-platform.git
