/*
RCABench API

RCABench - A comprehensive root cause analysis benchmarking platform for microservices

API version: 1.0.0
Contact: team@rcabench.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type ChaosPruneAPI interface {

	/*
		PruneChaos Prune orphaned chaos-mesh CRs

		Find and (optionally) delete chaos-mesh CRs whose backing
	injection task is in a terminal state or no longer exists.
	Defaults to dry-run; pass `"dry_run": false` to actually
	delete. Admin-only.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPruneChaosRequest
	*/
	PruneChaos(ctx context.Context) ApiPruneChaosRequest

	// PruneChaosExecute executes the request
	//  @return DtoGenericResponseChaosprunePruneResp
	PruneChaosExecute(r ApiPruneChaosRequest) (*DtoGenericResponseChaosprunePruneResp, *http.Response, error)
}

// ChaosPruneAPIService ChaosPruneAPI service
type ChaosPruneAPIService service

type ApiPruneChaosRequest struct {
	ctx                context.Context
	ApiService         ChaosPruneAPI
	chaosprunePruneReq *ChaosprunePruneReq
}

// Prune parameters
func (r ApiPruneChaosRequest) ChaosprunePruneReq(chaosprunePruneReq ChaosprunePruneReq) ApiPruneChaosRequest {
	r.chaosprunePruneReq = &chaosprunePruneReq
	return r
}

func (r ApiPruneChaosRequest) Execute() (*DtoGenericResponseChaosprunePruneResp, *http.Response, error) {
	return r.ApiService.PruneChaosExecute(r)
}

/*
PruneChaos Prune orphaned chaos-mesh CRs

Find and (optionally) delete chaos-mesh CRs whose backing
injection task is in a terminal state or no longer exists.
Defaults to dry-run; pass `"dry_run": false` to actually
delete. Admin-only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPruneChaosRequest
*/
func (a *ChaosPruneAPIService) PruneChaos(ctx context.Context) ApiPruneChaosRequest {
	return ApiPruneChaosRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DtoGenericResponseChaosprunePruneResp
func (a *ChaosPruneAPIService) PruneChaosExecute(r ApiPruneChaosRequest) (*DtoGenericResponseChaosprunePruneResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DtoGenericResponseChaosprunePruneResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChaosPruneAPIService.PruneChaos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/admin/chaos/prune"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chaosprunePruneReq == nil {
		return localVarReturnValue, nil, reportError("chaosprunePruneReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chaosprunePruneReq
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
