{
  "compilerOptions": {
    "declaration": true,
    "target": "ES2020",
    "module": "commonjs",
    "outDir": "./dist",
    "rootDir": "./",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "forceConsistentCasingInFileNames": true,
    "resolveJsonModule": true,
    {{#supportsES6}}
    "moduleResolution": "node",
    "lib": [
      "ES2020", 
      "DOM", 
      "DOM.Iterable"
    ],
    {{/supportsES6}}
    {{^supportsES6}}
    "lib": [
      "es6",
      "dom"
    ],
    {{/supportsES6}}
  },
"include": ["*.ts"],
  "exclude": [
    "dist",
    "node_modules",
    "**/*.test.ts"
  ]
}
